{% extends 'base.html.twig' %}

{% block title %}New Recrutement{% endblock %}

{% block body %}
    <h1>Create new Recrutement</h1>

     {{ form_start(form) }}
    {# ... #}

        {{ form_row(form.cv) }}
        {{ form_row(form.lettremotiv) }}
    {{ form_end(form) }}

    {{ include('recrutement/_form.html.twig') }}

{# <a href="{{ asset('uploads/cv/' ~ recrutement.cv) }}">PDF</a> #}
{% endblock %}
