{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <h1>Panier</h1>

    <table class="table">
        <tbody>            
            {% for v in panier.vin %}
            <tr>
                <th>Id</th>
                <th>Vins </th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>


                <td>{{ panier.id }}</td>
                <td>{{ v.nom }}</td>
                <td>{{v.prix}}</td>
                <td>TODO</td>
                <td>
                    <a href="{{path('app_vin_suppPanier', {'id': v.id})}}">Supprimer</a>
                    <button>+1</button>
                    <button>-1</button>
            </td>
        </tr>    
            {% else %}
        <tr>
            <td colspan="6">Vous n'avez pas de vin ?! <a href="{{path('app_vin_index')}}">nos vins</a></td>
        </tr>
                {% endfor %}
        </tbody>
    </table>

{% endblock %}
