{% extends 'base.html.twig' %}

{% block title %}Vin Admin{% endblock %}

{% block body %}
    <h1>Liste des vins</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Prix</th>
                <th>Quantitestock</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vin in vins %}
            <tr>

                <td>{{ vin.nom }}</td>
                <td>{{ vin.prix }}</td>
                <td>{{ vin.quantitestock }}</td>
                <td>{{ vin.description }}</td>
                <td>
                    <a href="{{ path('app_vin_show', {'id': vin.id}) }}">show</a>
                    <a href="{{ path('app_vin_ajouterPanier', {'id': vin.id}) }}">Ajouter au Panier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
