<script>
    window.addEventListener('DOMContentLoaded', () => {
        let sideBar = document.getElementById('sidebar');

        document.getElementById('closeBtn').addEventListener('click', () => {
            sideBar.classList.toggle('hidden')
        });
        document.getElementById('openBtn').addEventListener('click', () => {
           sideBar.classList.toggle('hidden')
        });
    });
</script>

<style>
    .image-top-left{
        width: 3%; 
        position: absolute; 
        top: 0; 
        left: 0; 
        }
</style>

<header class="h-16 w-full bg-gray-800 ">
    <nav class="text-white flex justify-between items-center h-full mx-16">
        <img src="/images/vins/logo.png" class="image-top-left">
        <a href="{{ path('app_accueil') }}" class="text-2xl font-bold">Accueil</a>
        <div class="hidden lg:flex gap-8">
            {% if is_granted('ROLE_ADMIN') %}         <a href="{{path('admin')}}">mode admin</a>                  {% endif %}
            <a href="{{ path('app_vin_index') }}" class="hover:text-blue-700 hover:text-xl duration-500 ease-in-out">Nos Vins</a>
            {% if app.user %}
            <a href="{{ path('app_panier_show') }}" class="hover:text-blue-700 hover:text-xl duration-500 ease-in-out">Votre Panier</a>
            {% endif %}
        </div>
        <div class="hidden lg:flex gap-8">

            {% if app.user %}
            Bonjour {{app.user.nom}}
                <a href="{{path('app_user_edit', {'id': app.user.id})}}" class="hover:text-blue-700 hover:text-xl duration-500 ease-in-out"> Modifier Profil</a>
                <a href="{{ path('app_logout') }}" class="hover:text-blue-700 hover:text-xl duration-500 ease-in-out">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="hover:text-blue-700 hover:text-xl duration-500 ease-in-out">Se connecter</a>
                <a href="{{ path('app_register') }}" class="hover:text-blue-700 hover:text-xl duration-500 ease-in-out">S'inscrire</a>
            {% endif %}
        </div>
        <div class="lg:hidden">
            <button id="openBtn">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
    </nav>
    <div id="sidebar" class="hidden duration-500 ease-in-out" role="dialog" aria-modal="true">
        <div class="fixed inset-0 z-10"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-end">
                <button id="closeBtn" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        <a href="{{ path('app_vin_index') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Nos Vins</a>
                        {% if app.user %}
                        <a href="{{ path('app_panier_show') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Votre Panier</a>
                        {% endif %}
                    </div>
                    <div class="py-6">
                        {% if app.user %}
                            <a href="{{ path('app_logout') }}" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Se déconnecter</a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Se connecter</a>
                            <a href="{{ path('app_register') }}" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">S'inscrire</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

</div>
</header>